version: '3.9'

services:
  postgres:
    image: postgres:18.0-alpine3.22
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpassword
      POSTGRES_DB: inventory_database
    ports:
      - 54321:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

networks:
  my_custom_network:      
    driver: inventory-nw
